* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --TC: #808080;
  --BB: #5B2BE9;
}

.HeaderText_Wrapper {
  /* background-color: #6A4A33; */
  text-align: center;
  padding: 50px 0;
}

.Button1_Header {
  cursor: pointer;
  margin-top: 60px;
  padding: 10px 25px;
  color: #fff;
  outline: none;
  border-radius: 25px;
  background-color: var(--BB);
  border: 1px solid var(--BB);
}

.Button2_Header {
  cursor: pointer;
  margin-top: 40px;
  padding: 13px 35px;
  color: #fff;
  outline: none;
  border-radius: 25px;
  background-color: var(--BB);
  border: 1px solid var(--BB);
}

/* .Button1_Header:active {
  color: #fff;
  border-color: var(--BB);
  background-color: var(--BB);
}

.Button2_Header:active {
  color: #000;
  border: #fff;
  background-color: #fff;
} */

h2 {
  color: #000;
}