* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --HC: #808080;
  --FQ: #5B2BE9;
}

.header_wrapper {
  display: flex;
  padding: 40px 0;
  font-size: 15px;
  align-items: center;
  background-color: #6A4A33;
  justify-content: space-between;
}

.header_part span{
  margin: 0 10px;
  cursor: pointer;
  color: var(--HC);
  position: relative;
}

.header_part span:nth-child(1) {
  color: #000;
}

.header_part span:nth-child(5) {
  color: #fff;
  padding: 3px 6px;
  border-radius: 5px;
  background-color: var(--FQ);
  border: 1px solid var(--FQ);
}

.header_part span::before {
  content: "";
  width: 0;
  height: 1.5px;
  left: 0;
  top: 100%;
  position: absolute;
  background-color: var(--HC);
  transition: all ease-in 0.5s;
}

.header_part span:hover::before {
  width: 100%;
  transition: all ease-in 0.5s;
}

h2 {
  color: #fff;
}