* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --HC: #808080;
  --FQ: #5B2BE9;
}

.header_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}