:root {
  --HC: #808080;
  --FQ: #5B2BE9;
  --NB: #5b2be9b4;
}

#icon {
  cursor: pointer;
  position: fixed;
  z-index: 2;
  width: 25px;
  height: 25px;
  top: 1%;
  right: 1%;
}

#Navbar {
  position: fixed;
  z-index: 1;
  right: 0;
  left: 0;
  top: -100vh;
  height: 100vh;
  background-color: var(--NB);
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 50px;
}

#Navbar span {
  cursor: pointer;
  color: #fff;
  font-size: 20px;
}
